<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Android Navigaiton Bar Theme Colour #}
        <meta name="theme-color" content="#1FB6FF">

        <title>Page Title</title>
        <meta name="description" content="Page meta description">

        {# Icons #}
        <link rel="icon" sizes="192x192" href="{{ siteUrl|trim('/') }}/assets/images/icon-192.png">
        <link rel="apple-touch-icon" href="{{ siteUrl|trim('/') }}/assets/images/ios-icon.png">
        <meta name="msapplication-square310x310logo" content="{{ siteUrl|trim('/') }}/assets/images/icon-310.png">

        {# Stylesheets #}
        <link rel="stylesheet" href="{{ siteUrl|trim('/') }}/assets/styles/Base.css">

        {# Scripts #}
        {% do view.registerJsFile( siteUrl|trim('/') ~ '/assets/scripts/Env.js', {"async":"async"}) %}

        <script>
            modules = {};
        </script>
    </head>
    <body>
        {% spaceless %}
            <article id="Base" role="main" class="js-pjax">
                {% block content %}{% endblock %}
            </article>
            {% do view.registerJsFile( siteUrl|trim('/') ~ '/assets/scripts/Base.js', {"async":"async"}) %}
        {% endspaceless %}
    </body>
</html>