{% do view.registerJsFile(siteUrl|trim('/') ~ '/assets/scripts/header.' ~ craft.app.config.general.jsCacheBustTimestamp ~ '.js', { "async":"async" }) %}
{% do view.registerCssFile(siteUrl|trim('/') ~ '/assets/styles/header.' ~ craft.app.config.general.cssCacheBustTimestamp ~ '.css') %}

{# Additional Stylesheet Includes #}
{% do view.registerCssFile(siteUrl|trim('/') ~ '/assets/styles/link.' ~ craft.app.config.general.cssCacheBustTimestamp ~ '.css') %}

<header class="c-header">
    <a class="g-link" href="{{ siteUrl }}">Home</a>
</header>
