@import '../../../app/sass/settings/main';
@import '../../../app/sass/tools/mixins';

.c-header{
    @include position(fixed, 0 null null 0);
    @include size(100vw, 96px);
    background: $white;
    box-shadow: 0 0 16px rgba($off-black, 0.1);
    z-index: 1000;
}
