{% do view.registerJsFile(siteUrl|trim('/') ~ '/assets/scripts/object2.js', {"async":"async"}) %}
{% do view.registerCssFile(siteUrl|trim('/') ~ '/assets/styles/objects/object2/object2.css') %}

<div class="c-object2"></div>
