{% extends '_layouts/base.twig' %}

{% block content %}
    <article data-template="home" class="-base-background">
        {% include 'components/object1/object1.twig' %}
        <a href="{{ siteUrl|trim('/') }}/test">test</a>
    </article>
{% endblock %}
