{% extends '_layouts/base.twig' %}

{% block content %}
    <article data-template="test 1" class="-base-background">
        <section class="o-container">
            {% include 'components/DemoComponent1/DemoComponent1.twig' %}
        </section>
    </article>
{% endblock %}
