@import '../../../global/sass/settings/colors';
@import '../../../global/sass/settings/units';
@import '../../../global/sass/settings/breakpoints';
@import '../../../global/sass/settings/config';

.o-button{
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 $unit;
    border-radius: 2px;
    background-color: $primary;
    box-shadow: 0 2px 4px rgba($off-black, 0.1);
}
